* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}
.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
}
